/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .media {
   display: flex;
   img {
     height: max-content;
     flex-shrink: 0;
   }
  .block-editor-inner-blocks {
   margin-left: 1rem;
   flex-grow: 1;
  }
 }