/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

// This extension is editor only, and probably temporary until we get the editors to add proper classes.


.editor-styles-wrapper .tab-header {
  @extend .nav;
  @extend .nav-tabs;
    h3 {
      @extend .nav-link.active;
        font-size: 1em;
        font-weight: 400;
        border:  1px solid #e0e0e0;
        border-bottom-color: white;
        padding: 14px;
        padding-bottom: 0;
        line-height: 1;
        font-size: 1rem;
        margin-bottom: -1px;
    }
  }
