/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

@import "./../utksds-framework/node_modules/bootstrap/scss/card";
@import "./../utksds-framework/node_modules/bootstrap/scss/utilities";

// @import "./../utksds-framework/src/scss/styles/orange_hr";


// This extension is editor only, and probably temporary until we get the editors to add proper classes.


.editor-styles-wrapper .card {
  padding-left: 28px;
  padding-right: 28px;
  max-width: 100%;
  .block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
    }
  }
.editor-styles-wrapper .card-body {
  border: 1px solid white;
  margin-right: 28px;
  margin-left: 28px;
  }
