/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

@import "./../utksds-framework/node_modules/bootstrap/scss/card";
//@import "./../utksds-framework/node_modules/bootstrap/scss/utilities";

// @import "./../utksds-framework/src/scss/styles/orange_hr";


// This extension is editor only, and probably temporary until we get the editors to add proper classes.

.editor-styles-wrapper .card {
  max-width: 100%;
  padding: 0;
  .block-editor-block-list__block {
    margin-top: 0;
    // margin-bottom: 0;
    }
  }
