/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
// Bring in editor styles


// Typography.
// ===================================================================


.block-editor-writing-flow {
  color: $utsmokey;
  font-family: $font-family-sans-serif;
}

// Here we make the editor a bit wider than default.
// ===================================================================
/* Main column width */
.wp-block {
    max-width: 1140px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1320px;
}

/* Width of "full-width" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.editor-styles-wrapper {
  


 .wp-block {
 	
 	.rf-blocks-library--button-container {
 		display:inline-block;
 		text-align:center;
 		width:100%;
 		margin:20px 0 0;
 		button {
 			cursor:pointer;
 			background:transparent;
 		}
 	}
    
 	.rf-blocks-library--button-container--inner {
 	   display: inline-flex;
 	   text-align: center;
 	   button {
 		   background:transparent;
 		   justify-items: center;
 	   }
 	}
    .wp-block-sgc-blocks-library-accordion {
 	   position: relative;
 	   padding: 20px;
 	   margin: 4px 0;
 	   border: 1px solid rgba(145,151,162,.25);
 	   list-style-type: none;
    }
 	.accordion {
 		margin:0 0 10px 0;
 		padding:15px;
 		border: 1px solid rgba(145,151,162,.25);
 		
   	h2 {
     	margin-top: 0;
   	}
 	}
 	 .accordion-trigger {
 		background: none;
 		color: hsl(0, 0%, 13%);
 		display: block;
 		font-size: 1rem;
 		font-weight: normal;
 		margin: 0;
 		padding: 10px !important;
 		position: relative;
 		text-align: left;
 		width: 100%;
 		outline: none;
 		border-bottom: 1px solid rgba(145,151,162,.25); 
 	  }
 	
 	  .accordion-panel {
 		  padding: 10px !important;
 	  }
 	
 	
 	
 	  .accordion *:first-child .accordion-trigger {
 		border-radius: 5px 5px 0 0;
 	  }
 	  .accordion {
 		  button {
 			  width:100%;
 		  }
 	  }
 	  button {
 		border-style: none;
 	  }
 	  
 	  .accordion button::-moz-focus-inner {
 		border: 0;
 	  }
 	  
 	  .accordion-title {
 		display: block;
 		pointer-events: none;
 		border: transparent 2px solid;
 		border-radius: 5px;
 		padding: 0.25em;
 		outline: none;
 	  }
 	  
 	  .accordion-trigger:focus .accordion-title {
 		border-color: hsl(216, 94%, 73%);
 	  }
 	  
 	  .accordion-icon {
 		border: solid hsl(0, 0%, 62%);
 		border-width: 0 2px 2px 0;
 		height: 0.5rem;
 		pointer-events: none;
 		position: absolute;
 		right: 2em;
 		top: 50%;
 		transform: translateY(-60%) rotate(45deg);
 		width: 0.5rem;
 	  }
 	  
 	  .accordion-trigger:focus .accordion-icon,
 	  .accordion-trigger:hover .accordion-icon {
 		border-color: hsl(216, 94%, 73%);
 	  }
 	  
 	  .accordion-trigger[aria-expanded="true"] .accordion-icon {
 		transform: translateY(-50%) rotate(-135deg);
 	  }
 	  
 	  /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
 	  .accordion-panel[hidden] {
 		display: none;
 	  }
 }
 
 }