/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
// Bring in editor styles


// Typography.
// ===================================================================
.has-info-color {
  
}

.block-editor-writing-flow {
  color: $utsmokey;
  font-family: $font-family-sans-serif;
}

// Here we make the editor a bit wider than default.
// ===================================================================
/* Main column width */
.wp-block {
    max-width: 1140px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1320px;
}

/* Width of "full-width" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}
@import "./../utksds-framework/node_modules/bootstrap/scss/functions";
@import "./../utksds-framework/src/scss/custom_variables";
@import "./../utksds-framework/node_modules/bootstrap/scss/variables";
@import "./../utksds-framework/node_modules/bootstrap/scss/mixins";
@import "./../utksds-framework/node_modules/bootstrap/scss/utilities";

@import "./../utksds-framework/node_modules/bootstrap/scss/root";
@import "./../utksds-framework/node_modules/bootstrap/scss/reboot";
@import "./../utksds-framework/node_modules/bootstrap/scss/type";
// @import "./../utksds-framework/node_modules/bootstrap/scss/images";
// @import "./../utksds-framework/node_modules/bootstrap/scss/containers";
// @import "./../utksds-framework/node_modules/bootstrap/scss/grid";
// @import "./../utksds-framework/node_modules/bootstrap/scss/tables";
// @import "./../utksds-framework/node_modules/bootstrap/scss/forms";
// @import "./../utksds-framework/node_modules/bootstrap/scss/buttons";
// @import "./../utksds-framework/node_modules/bootstrap/scss/transitions";
// @import "./../utksds-framework/node_modules/bootstrap/scss/dropdown";
// @import "./../utksds-framework/node_modules/bootstrap/scss/button-group";
// @import "./../utksds-framework/node_modules/bootstrap/scss/nav";
// @import "./../utksds-framework/node_modules/bootstrap/scss/navbar";
// @import "./../utksds-framework/node_modules/bootstrap/scss/card";
// @import "./../utksds-framework/node_modules/bootstrap/scss/accordion";
// @import "./../utksds-framework/node_modules/bootstrap/scss/breadcrumb";
// @import "./../utksds-framework/node_modules/bootstrap/scss/pagination";
// @import "./../utksds-framework/node_modules/bootstrap/scss/badge";
// @import "./../utksds-framework/node_modules/bootstrap/scss/alert";
// @import "./../utksds-framework/node_modules/bootstrap/scss/progress";
// @import "./../utksds-framework/node_modules/bootstrap/scss/list-group";
// @import "./../utksds-framework/node_modules/bootstrap/scss/close";
// @import "./../utksds-framework/node_modules/bootstrap/scss/toasts";
// @import "./../utksds-framework/node_modules/bootstrap/scss/modal";
// @import "./../utksds-framework/node_modules/bootstrap/scss/tooltip";
// @import "./../utksds-framework/node_modules/bootstrap/scss/popover";
// @import "./../utksds-framework/node_modules/bootstrap/scss/carousel";
// @import "./../utksds-framework/node_modules/bootstrap/scss/spinners";
// @import "./../utksds-framework/node_modules/bootstrap/scss/offcanvas";

// Helpers
@import "./../utksds-framework/node_modules/bootstrap/scss/helpers";

// Utilities
@import "./../utksds-framework/node_modules/bootstrap/scss/utilities/api";



// Custom Texture

// @import "./../utksds-framework/src/scss/texture/chrome";
// @import "./../utksds-framework/src/scss/texture/logos";



// UT Layouts

// UT Regions

//@import "./../utksds-framework/src/scss/regions/extended_footer";
//@import "./../utksds-framework/src/scss/regions/footers";
//@import "./../utksds-framework/src/scss/regions/headers";
//@import "./../utksds-framework/src/scss/regions/navigation_horizontal";
//@import "./../utksds-framework/src/scss/regions/navigation_leftrail";
//@import "./../utksds-framework/src/scss/regions/navigation_megamenu";
//@import "./../utksds-framework/src/scss/regions/navigation_offcanvas";
//@import "./../utksds-framework/src/scss/regions/navigation_unit";
//@import "./../utksds-framework/src/scss/regions/navigation_universal";
//@import "./../utksds-framework/src/scss/regions/search_area";
//@import "./../utksds-framework/src/scss/regions/sidebar";


// UT Components

// @import "./../utksds-framework/src/scss/components/accordion_folds";
// @import "./../utksds-framework/src/scss/components/calendars";
// @import "./../utksds-framework/src/scss/components/profiles";
// @import "./../utksds-framework/src/scss/components/promos";
// // @import "./../utksds-framework/src/scss/components/forms";
// //@import "./../utksds-framework/src/scss/components/sliders";
// 
// 
// // UT Styles
// @import "./../utksds-framework/src/scss/styles/breadcrumbs";
// @import "./../utksds-framework/src/scss/styles/blockquote";
// @import "./../utksds-framework/src/scss/styles/buttons";
// @import "./../utksds-framework/src/scss/styles/highlight_boxes";
// @import "./../utksds-framework/src/scss/styles/frame";
// @import "./../utksds-framework/src/scss/styles/images";
// @import "./../utksds-framework/src/scss/styles/orange_hr";
// @import "./../utksds-framework/src/scss/styles/orange_mark";
// @import "./../utksds-framework/src/scss/styles/search_forms";
// @import "./../utksds-framework/src/scss/styles/typography";
// @import "./../utksds-framework/src/scss/styles/background";
@import "./../utksds-framework/src/scss/styles/textcolors";
// @import "./../utksds-framework/src/scss/styles/pagination";







 .wp-block {
 	
 	.rf-blocks-library--button-container {
 		display:inline-block;
 		text-align:center;
 		width:100%;
 		margin:20px 0 0;
 		button {
 			cursor:pointer;
 			background:transparent;
 		}
 	}
    
 	.rf-blocks-library--button-container--inner {
 	   display: inline-flex;
 	   text-align: center;
 	   button {
 		   background:transparent;
 		   justify-items: center;
 	   }
 	}
    .wp-block-sgc-blocks-library-accordion {
 	   position: relative;
 	   padding: 20px;
 	   margin: 4px 0;
 	   border: 1px solid rgba(145,151,162,.25);
 	   list-style-type: none;
    }
 	.accordion {
 		margin:0 0 10px 0;
 		padding:15px;
 		border: 1px solid rgba(145,151,162,.25);
 	}
 	 .accordion-trigger {
 		background: none;
 		color: hsl(0, 0%, 13%);
 		display: block;
 		font-size: 1rem;
 		font-weight: normal;
 		margin: 0;
 		padding: 10px !important;
 		position: relative;
 		text-align: left;
 		width: 100%;
 		outline: none;
 		border-bottom: 1px solid rgba(145,151,162,.25); 
 	  }
 	
 	  .accordion-panel {
 		  padding: 10px !important;
 	  }
 	
 	
 	
 	  .accordion *:first-child .accordion-trigger {
 		border-radius: 5px 5px 0 0;
 	  }
 	  .accordion {
 		  button {
 			  width:100%;
 		  }
 	  }
 	  button {
 		border-style: none;
 	  }
 	  
 	  .accordion button::-moz-focus-inner {
 		border: 0;
 	  }
 	  
 	  .accordion-title {
 		display: block;
 		pointer-events: none;
 		border: transparent 2px solid;
 		border-radius: 5px;
 		padding: 0.25em;
 		outline: none;
 	  }
 	  
 	  .accordion-trigger:focus .accordion-title {
 		border-color: hsl(216, 94%, 73%);
 	  }
 	  
 	  .accordion-icon {
 		border: solid hsl(0, 0%, 62%);
 		border-width: 0 2px 2px 0;
 		height: 0.5rem;
 		pointer-events: none;
 		position: absolute;
 		right: 2em;
 		top: 50%;
 		transform: translateY(-60%) rotate(45deg);
 		width: 0.5rem;
 	  }
 	  
 	  .accordion-trigger:focus .accordion-icon,
 	  .accordion-trigger:hover .accordion-icon {
 		border-color: hsl(216, 94%, 73%);
 	  }
 	  
 	  .accordion-trigger[aria-expanded="true"] .accordion-icon {
 		transform: translateY(-50%) rotate(-135deg);
 	  }
 	  
 	  /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
 	  .accordion-panel[hidden] {
 		display: none;
 	  }
 }