/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import '../../common.scss';
 @import "../../../node_modules/bootstrap/scss/card";
 @import "../../../node_modules/utksds-framework/src/scss/components/cards";
 @import "../../../node_modules/utksds-framework/src/scss/styles/highlight_boxes";

// This extension is editor only, and probably temporary until we get the editors to add proper classes.

.editor-styles-wrapper .card {
  max-width: 100%;
  padding: 0;
  .block-editor-block-list__block {
    margin-top: 0;
    // margin-bottom: 0;
    }
  }