/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// This extension is editor only, and probably temporary until we get the editors to add proper classes.
@use 'sass:math';
@import '../../common.scss';
@import "../../../node_modules/utksds-framework/src/scss/components/strip";
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.block-editor-block-list__block[data-type="strip/main"] {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// There are several 'settings' for the Gutenberg editor. (full screen mode, with the settings rail open or closed, etc. The following code adjusts the width of the content ribbon accordingly.)
.wp-block .strip {
  width: calc(100vw - 160px);
  margin-left: math.div($spacer, 2);
  &.py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .block-editor-inner-blocks {
    padding: math.div($spacer, 2);
  }
   @include media-breakpoint-up(sm) {
  //  max-width: 540px;
  margin-left: math.div(-$spacer, 2);

  }
  @include media-breakpoint-up(md) {
  //  max-width: 720px;
  margin-left: math.div(-$spacer, 2);

  }
  @include media-breakpoint-up(lg) {
  //  max-width: 1060px;
  margin-left: math.div(-$spacer, 2);

  }
  @include media-breakpoint-up(xl) {
   margin-left: calc(-50vw + 651px);
  -ms-margin-left: calc(-50vw + 641px);
  }
  @include media-breakpoint-up(xxl) {
   margin-left: calc(-50vw + 651px);
  -ms-margin-left: calc(-50vw + 641px);
  }
}


body.is-fullscreen-mode {
  .wp-block .strip {
    width: 100vw;
    margin-left: math.div(-$spacer, 2);
    .block-editor-inner-blocks {
      padding: math.div($spacer, 2);
    }
     @include media-breakpoint-up(sm) {
    //  max-width: 540px;
    margin-left: math.div(-$spacer, 2);

    }
    @include media-breakpoint-up(md) {
    //  max-width: 720px;
    margin-left: math.div(-$spacer, 2);

    }
    @include media-breakpoint-up(lg) {
    //  max-width: 1060px;
    margin-left: math.div(-$spacer, 2);

    }
    @include media-breakpoint-up(xl) {
     margin-left: calc(-50vw + 570px);
    -ms-margin-left: calc(-50vw + 560px);
    }
    @include media-breakpoint-up(xxl) {
     margin-left: calc(-50vw + 570px);
    -ms-margin-left: calc(-50vw + 560px);
    }
  }
}


div.is-sidebar-opened {
  .wp-block .strip {
    width: calc(100vw - 280px);
    @include media-breakpoint-up(xl) {
     margin-left: math.div(-$spacer, 2);
    }
    @media (min-width: 1450px) {
     margin-left: calc(-50vw + 710px);
    -ms-margin-left: calc(-50vw + 700px);
    }
    @include media-breakpoint-up(xxl) {
     margin-left: calc(-50vw + 710px);
    -ms-margin-left: calc(-50vw + 700px);
    }
  }
}

body:not(.is-fullscreen-mode) {
  div.is-sidebar-opened {
    .wp-block .strip {
      width: calc(100vw - 440px);
      @include media-breakpoint-up(xl) {
       margin-left: math.div(-$spacer, 2);
      }
      @include media-breakpoint-up(xxl) {
       margin-left: calc(-50vw + 790px);
      -ms-margin-left: calc(-50vw + 700px);
      }
    }
  }
}




.wp-block .strip {
//  width: calc(100% + 20px);
//  margin-left: -10px;
//  @media screen and (min-width: 1440px) {
//    width: calc(100vw - 280px);
//    margin-left: calc(-50vw + 705px);
//    //margin-left: -10%;
//  }
  .block-editor-inner-blocks {
    min-height: 3rem;
  }

  &.strip-white {
    border: 1px solid $utgray2;
  }


  &.p-sm {
    padding-bottom: 1 * $spacer;
    padding-top: 1 * $spacer;
  }
  &.p-lg {
    padding-bottom: 6 * $spacer;
    padding-top: 6 * $spacer;
  }
  &.pb-0 {
    padding-bottom: 0;
  }
  &.pt-0 {
    padding-top: 0;
  }
}