/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

//@import "./node_modules/bootstrap/scss/type";

.editor-styles-wrapper {
  .is-style-display-1, .is-style-display-2, .is-style-display-3, .is-style-display-4 {
    font-weight: 300;
    line-height: 1.2;
  }
  .is-style-display-1 {
    font-size: 5rem;
  }
  .is-style-display-2 {
    font-size: 4.5rem;
  }
  .is-style-display-3 {
    font-size: 4rem;
  }
  .is-style-display-4 {
    font-size: 3.5rem;
  }
}
