/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


// @import "./../utksds-framework/src/scss/styles/orange_hr";


// This extension is editor only, and probably temporary until we get the editors to add proper classes.


.wp-block .card {
  min-height: 5rem;
  .card-img-overlay {
  padding-left: 4rem;
  padding-right: 4rem;
  border: 1px solid black;
  }
}