/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */




// This extension is editor only, and probably temporary until we get the editors to add proper classes.

//@import "./node_modules/utksds-framework/src/scss/styles/background";
.wp-block .card.overlay {
  min-height: 15rem;
}

.wpeditor-card-overlay {
  > .block-editor-inner-blocks {
    @extend .card-img-overlay;
    padding-left: 4rem;
    padding-right: 4rem;
    .card-img-overlay {
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
    }
  }
}
