/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/


// scss-docs-start import-stack
// Configuration

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/utksds-framework/src/scss/custom_variables";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";
