/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/


// scss-docs-start import-stack
// Configuration

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/utksds-framework/src/scss/custom_variables";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";



// Layout & components
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
// @import "./node_modules/bootstrap/scss/transitions";
// @import "./node_modules/bootstrap/scss/dropdown";
@import "./node_modules/bootstrap/scss/button-group";
@import "./node_modules/bootstrap/scss/nav";
@import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/card";
// @import "./node_modules/bootstrap/scss/accordion";
// @import "./node_modules/bootstrap/scss/breadcrumb";
@import "./node_modules/bootstrap/scss/pagination";
// @import "./node_modules/bootstrap/scss/badge";
// @import "./node_modules/bootstrap/scss/alert";
// @import "./node_modules/bootstrap/scss/progress";
// @import "./node_modules/bootstrap/scss/list-group";
// @import "./node_modules/bootstrap/scss/close";
// @import "./node_modules/bootstrap/scss/toasts";
// @import "./node_modules/bootstrap/scss/modal";
// @import "./node_modules/bootstrap/scss/tooltip";
// @import "./node_modules/bootstrap/scss/popover";
// @import "./node_modules/bootstrap/scss/carousel";
// @import "./node_modules/bootstrap/scss/spinners";
// @import "./node_modules/bootstrap/scss/offcanvas";
// @import "./node_modules/bootstrap/scss/placeholders";

// Helpers
@import "./node_modules/bootstrap/scss/helpers";

// Utilities
@import "./node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

// UT Regions

// @import "regions/contentarea";
// @import "./node_modules/utksds-framework/src/scss/regions/extended_footer";
// @import "./node_modules/utksds-framework/src/scss/regions/footers";
// @import "./node_modules/utksds-framework/src/scss/regions/headers";
// @import "./node_modules/utksds-framework/src/scss/regions/navigation_horizontal";
// @import "./node_modules/utksds-framework/src/scss/regions/navigation_unit";
// @import "./node_modules/utksds-framework/src/scss/regions/navigation_universal";
// @import "./node_modules/utksds-framework/src/scss/regions/search_area";
// @import "./node_modules/utksds-framework/src/scss/regions/sidebar";
// @import "./node_modules/utksds-framework/src/scss/regions/universal-header";
// @import "./node_modules/utksds-framework/src/scss/regions/universal-footer";

// UT Components

@import "./node_modules/utksds-framework/src/scss/components/accordion_folds";
@import "./node_modules/utksds-framework/src/scss/components/calendars";
@import "./node_modules/utksds-framework/src/scss/components/cards";
@import "./node_modules/utksds-framework/src/scss/components/forms";
@import "./node_modules/utksds-framework/src/scss/components/gallery";
@import "./node_modules/utksds-framework/src/scss/components/latest_posts";
@import "./node_modules/utksds-framework/src/scss/components/profiles";
@import "./node_modules/utksds-framework/src/scss/components/promos";
@import "./node_modules/utksds-framework/src/scss/components/jumbotron";
@import "./node_modules/utksds-framework/src/scss/components/strip";

// UT Styles
@import "./node_modules/utksds-framework/src/scss/styles/breadcrumbs";
@import "./node_modules/utksds-framework/src/scss/styles/buttons";
@import "./node_modules/utksds-framework/src/scss/styles/blockquote";
@import "./node_modules/utksds-framework/src/scss/styles/highlight_boxes";
@import "./node_modules/utksds-framework/src/scss/styles/frame";
@import "./node_modules/utksds-framework/src/scss/styles/gutenberg";
@import "./node_modules/utksds-framework/src/scss/styles/images";
@import "./node_modules/utksds-framework/src/scss/styles/orange_hr";
@import "./node_modules/utksds-framework/src/scss/styles/orange_mark";
@import "./node_modules/utksds-framework/src/scss/styles/search_forms";
@import "./node_modules/utksds-framework/src/scss/styles/typography";
@import "./node_modules/utksds-framework/src/scss/styles/background";
@import "./node_modules/utksds-framework/src/scss/styles/textcolors";
@import "./node_modules/utksds-framework/src/scss/styles/pagination";
@import "./node_modules/utksds-framework/src/scss/styles/logos";
@import "./node_modules/utksds-framework/src/scss/styles/wp";
