/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.editor-styles-wrapper {
  @import "./node_modules/utksds-framework/src/scss/styles/orange_hr";  
}


.wp-block hr.hr {
  padding-top: 1rem;
  margin-bottom: 1rem;
  background: none;
  border-top: 1px solid black;

}
